body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

#navbar {
    background-color: yellow;
    padding: 10px;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
